/* General styles for the main content area */
html, body {
    background-color: #191a1a; /* Dark background */
    color: #e7e6e4;            /* Light text color */
    border-color: #706b64;      /* Border color */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #191a1a; /* Dark background for content */
    color: #e7e6e4;            /* Light text color for content */
}
